<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../lib/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <header>
        <a href="../views/Library.html"  class="iconfont icon-HD-005-02"></a>
        <a href="" class="iconfont icon-shuaxin"></a>
    </header>
    <main>
    <section class="detail-box">
    </section>





    <footer>
        <div>加入收藏</div>
        <div>立刻购买</div>
    </footer>



    
    <script src="../lib/swiper/swiper-bundle.min.js"></script>
    <script src="../js/detail.js"></script>
    </main>

    
</body>
</html>




