<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <a href="https://www.baidu.com"  class="iconfont icon-Other-33 iconfont-tubiao"></a>
        <div>
            <span  class="iconfont icon-Other-30"></span>
            <input type="text" placeholder="游戏资讯，上大白盒">
        </div>
        <a href="https://www.bilibili.com/video/BV1J4411v7g6/" class="iconfont icon-Other-12 iconfont-tubiao"></a>
    </header>
    <main>
        <section class="module-switch">
            <a href="#" class="current">动态</a>
            <a href="#">推荐</a>
            <span class="after-slider"></span>
        </section>
        <ul>
            <!-- 推荐 -->
            <li>
                <div class="forum">
                    <!-- 1 -->
                    <div class="forum-user">
                        <img src="https://tse3-mm.cn.bing.net/th/id/OIP-C.UxgQqdST11tgDjMp1WIEcQHaG-?w=192&h=181&c=7&r=0&o=5&dpr=2&pid=1.7">
                        <span class="forum-user-name">篮球骚年</span>
                        <span class="iconfont icon-gengduo"></span>
                    </div> 
                    <!-- 2 -->
                    <div class="title">
                        <span>冰汽时代第一次新家通关</span>
                    </div>
                    <!-- 3 -->
                    <div class="textual">
                        <div class="content"> 剧情还是蛮震撼的，后期因为三个煤矿要加班存煤导致不满上升，所以用不断处刑一个市民和警察局出兵巡逻的方法来降低不满，内心逐渐麻木，太真实的场景看着也很痛苦😖，那个父亲出发的时候我没有食物就没给，小女孩回来我就只能亲自告诉她，太痛了，确实值得一玩</div>
                        <a href="">全文</a>
                        <div class="textual-img-all">
                            <div class="textual-img">
                                <img src="../img/ForstPunk1.jpg" >
                            </div>
                            <div class="textual-img">
                                <img src="../img/ForstPunk2.jpg" >
                            </div>
                            <div class="textual-img">
                                <img src="../img/ForstPunk3.jpg" >
                            </div>
                        </div>
                    </div>  
                    <!-- 4 -->
                    <div class="forum-bottom">
                        <div class="forum-game">
                            <span class="iconfont icon-xiaoxi"></span>
                            <span>冰汽时代</span>
                        </div>
                        <div class="forum-thumb">
                            <div>
                                <span class="iconfont icon-dianzan"></span>
                                <span class="forum-thumb-text">189</span>
                            </div>
                            <div>
                                <span class="iconfont icon-pinglun-"></span>
                                <span class="forum-thumb-text">54</span>
                            </div>
                        </div>    
                    </div>
                </div>
                </div>
                <div class="forum">
                    <div class="forum-user">
                        <img src="../img/mkl.jpg">
                        <span class="forum-user-name">我才是米凯拉的锋刃</span>
                        <span class="iconfont icon-gengduo"></span>
                    </div> 
                    <div class="title">
                        <span>呼叫环学家为小萌新答疑解惑</span>
                    </div>
                    <div class="textual">
                        <div class="content"> 1.阿褪需要梅琳娜才能把卢恩转化为力量， 那为什么 烧树献祭梅琳娜之后一样可以用卢恩升级。 2.打完黑剑只是释放了命定之死， 为什么只有打了 黑剑黄金树的刺才会被烧掉，而点燃火焰大锅只能 引燃黄金树却不能烧掉</div>
                        <a href="">全文</a>
                        <div class="textual-img-all">
                            <div class="textual-img">
                                <img src="../img/ending.jpg"> 
                            </div>
                            <div class="textual-img"> </div>
                            <div class="textual-img"> </div>
                        </div>
                    </div>  
                    <div class="forum-bottom">
                        <div class="forum-game">
                            <span class="iconfont icon-xiaoxi"></span>
                            <span>艾尔登法环</span>
                        </div>
                        <div class="forum-thumb">
                            <div>
                                <span class="iconfont icon-dianzan"></span>
                                <span class="forum-thumb-text">239</span>
                            </div>
                            <div>
                                <span class="iconfont icon-pinglun-"></span>
                                <span class="forum-thumb-text">124</span>
                            </div>
                        </div>    
                    </div>
                </div>
            </li>
        </ul>
        <span class="forum-more">上拉查看更多话题</span>
    </main>

    <footer>
            <a href="" class="active">
                <span class="iconfont icon-Other-17"></span>
                <span class="menu">首页</span>
            </a>
            <a href="./hot.html">
                <span class="iconfont icon-Other-34"></span>
                <span class="menu">热点</span>
            </a>
            <a href="./strategy.html">
                <span class="iconfont icon-Other-26"></span>
                <span class="menu">攻略</span>
            </a>
            <a href="./Library.html">
                <span class="iconfont icon-Other-10"></span>
                <span class="menu">游戏库</span>
            </a>
            <a href="./personal.html">
                <span class="iconfont icon-Other-31"></span> 
                <span class="menu">我的</span>
            </a>
    </footer>
</body>
</html>