<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <a href=""  class="iconfont icon-HD-005-02 icon"></a>
    <span class="title">登陆/注册</span>
    <div class="frame frame-top1">
        <select class="sel">
            <option value="" selected>+86</option>
            <option value="">+87</option>
            <option value="">+88</option>
        </select>
        <span class="interval">|</span>
        <input class="tel" type="text" placeholder="请输入手机号码">
    </div>
    <div class="frame frame-top2">
        <input class="password" type="password"  placeholder="请输入密码">
    </div>
    <input class="button1" type="button" value="登   录">
        <a class="enroll" href="./enroll.html">没有账号？去注册</a>
    </body>
    <footer>
        <div class="exegesis">
        <input class="radio" type="radio">
        <span class="exegesis-text">我已祥读并同意遵守</span>
        <a class="exegesis-link" href="https://www.baidu.com/">《使用协议，个人信息保护政策》</a>
        </div>
    </footer>
</html>